
/* itemlist */ 


/* Detail Page */

.nav-header {
	font-weight: bold;
	color: #999999;

	margin-top: 15px;
	margin-bottom: 10px;
}
.page-header {
	margin-top: 0px;	
}

.page-header h1 {
	margin-top: 0px;
	font-size: 24px;
}

.page-header h2, h1 small {
	font-size: 20px;
}

@media(min-width: 768px) {
	.page-header h1 {
	  font-size: 32px;
	}

	.page-header h2, h1 small {
	  font-size: 24px;
	}
}


@media(min-width: 992px) {
	.page-header h1 {
	  font-size: 40px;
	}

	.page-header h2, h1 small {
	  font-size: 30px;
	}
}

.nav-list li {
	margin-top: 0px;
	margin-bottom: 10px;		
}

.nav-list li a {
	position: inherit;
	display: inline;
	padding: inherit;
}

.nav-list .short-url {
	margin-top: 10px;
}

@media (max-width: 991px) {
	.nav-list li {		
		display: inline-block;
		vertical-align: top;
		padding-left: 5px;
		padding-right: 5px;
	}
	.nav-list li.tags {
		display: block;
	}
	.nav-list li a {
		padding-left: 3px;
		padding-right: 3px;
	}
	.nav-list .nav-header {
		display: none;
	}
	.nav-list .short-url {
		display: none;
	}
}

.rating-row {
	vertical-align:middle;
	line-height: 33px; /* page-header h2 line-height */
}

.entry-quote p {
	font-size: inherit;
}

textarea.expand {
	height: 40px;
}

.showonclick {
	display: none;
}

.entry-intro {
	color: grey;
	font-size: 16px;	
	float: right;
}

.entry-content h1 {
	font-size: 24px; 
	line-height: 28px; 
	margin-top: 0px;
	margin-bottom: 10px;
}

.entry-content small {
	color: grey;
	font-size: 12px; 
	line-height: 16px; 
	margin-top: 0px;
	margin-bottom: 10px;
}

.entry-content h2 {
	font-size: 20px; 
	line-height: 24px; 
	margin-top: 0px;
	margin-bottom: 8px;
}

.entry-content h3, .entry-content h4,  .entry-content h5 {
	font-size: 16px; 
	font-weight: bold;
	line-height: 22px; 
	margin-top: 0px;
	margin-bottom: 8px;
}

.entry-content p, .entry-content ul, .entry-content ol, .entry-content li {
	font-size: 16px; 
	line-height: 22px; 
	margin-top: 0px;
	margin-bottom: 10px;
}

.entry-content img {
	max-width: 100%;
}
