/* Bootstrap Overloads */
body { padding-top: 70px; }
h1 { 
  color: #515295; 
  font-size: 50px;
}
h2 { color: #515295; }
h2 a { color: #515295; }

small a {
	color: inherit;
}

small a:hover {
	color: inherit;
	text-decoration: underline;
}

.alert a {
	text-decoration: underline;	
}

.page-header {
	margin-top: 0px;	
}

.page-header h1 {
	margin-top: 0px;	
}

.navbar {
  min-height: 30px;
}

.navbar-form {
  margin-top: 8px;
  margin-bottom: 8px;
}

@media(min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 12px;
    padding-bottom: 10px;
  }
}

.navbar-brand {
  padding: 10px 10px;
}

.navbar .form-control {
  padding: inherit;
  height: 26px;
}

.nav-list .form-control {
  padding: 5px;
  margin-top: 10px;
  height: 26px;
  min-width: 200px;
}

.navbar .btn {
  padding-top: 2px;
  padding-right: 6px;
  padding-bottom: 2px;
  padding-left: 6px;
}

/* Custom CSS */

/* Index Page */
.titleprogress {
	height: 30px;
}
.titleprogress-glyph {
	font-size: 16px; 
	line-height: 30px;
	vertical-align: middle;
}

.nav-list li {
	margin-top: 0px;
	margin-bottom: 10px;		
}

.nav-list li a {
	position: inherit;
	display: inline;
	padding: inherit;
}

@media (max-width: 991px) {
	.nav-list li {		
		display: inline-block;
		vertical-align: top;
		padding-left: 15px;
		padding-right: 15px;
	}
}

.nav-header {
	font-weight: bold;
	color: #999999;

	margin-top: 15px;
	margin-bottom: 10px;
}

/* List page */
.smallprogress {
	height: 10pt; 
	width: 150pt; 
	position: absolute; 
	top:11pt; 
	left: 250pt
}

.invisible {
	display: none;
}

/* itemlist */ 
.item-list, .full-list {
	 position: relative;
}

.item-list-glyph-wrapper, .full-list-glyph-wrapper {
	 position: absolute; 
	 height: 100%; 
	 width: 25px;
	 font-size: 20px;
}

.item-list-content, .full-list-content {
	padding-left: 28px;
}

.item-list-content p, .full-list-content p  {
	margin-top: 10px;
}

.item-list-content h4, .full-list-content h4 {
	margin-bottom: 5px;
}

.item-list-content small, .full-list-content small {
	color: grey;
}

.full-list-content blockquote {
	padding: 0px 10px;
	margin: 0px 0px 10px;
}

.full-list-content blockquote p {
	font-size: 14px;
}

.tag {
}

.item-list-body {
	max-height: 80px;
	overflow: hidden;
	position: relative;
}

.item-list-body .read-more { 
	display: none;
	position: absolute; 
	bottom: 0; right: 0;
	width: 100%; 
	text-align: right; 
	margin: 0; 
	padding-top: 30px; 
	
	/* "transparent" only works here because == rgba(0,0,0,0) */ 
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,0)),color-stop(1, white));
	background-image: -webkit-linear-gradient(top, rgba(255,255,255,0), white);

    background-image: -moz-linear-gradient(top, rgba(255,255,255,0), white);
    
    background-image: -ms-linear-gradient(top, rgba(255,255,255,0), white);
    background-image: -o-linear-gradient(top, rgba(255,255,255,0), white);

    background-image: linear-gradient(rgba(255,255,255,0), white);
}

/* Detail Page */
.rating-row {
	vertical-align:middle;
	line-height: 33px; /* page-header h2 line-height */
}

.entry-quote p {
	font-size: inherit;
}

textarea.expand {
	height: 40px;
}

.showonclick {
	display: none;
}

.entry-intro {
	color: grey;
	font-size: 16px;	
	float: right;
}

.entry-content h1 {
	font-size: 24px; 
	line-height: 28px; 
	margin-top: 0px;
	margin-bottom: 10px;
}

.entry-content small {
	color: grey;
	font-size: 12px; 
	line-height: 16px; 
	margin-top: 0px;
	margin-bottom: 10px;
}

.entry-content h2 {
	font-size: 20px; 
	line-height: 24px; 
	margin-top: 0px;
	margin-bottom: 8px;
}

.entry-content h3, .entry-content h4,  .entry-content h5 {
	font-size: 16px; 
	font-weight: bold;
	line-height: 22px; 
	margin-top: 0px;
	margin-bottom: 8px;
}

.entry-content p, .entry-content ul, .entry-content ol, .entry-content li {
	font-size: 16px; 
	line-height: 22px; 
	margin-top: 0px;
	margin-bottom: 10px;
}

.entry-content img {
	max-width: 100%;
}