<span>
  <input type="checkbox" class="setImportantTag" id="{{ tag.id }}" {{#tag.important}} checked {{/tag.important}} />&nbsp;<a href="{{ urls.view }}"><span class='label label-primary' tag-name>{{ tag.name }}</span></a>
  &nbsp;<a href="#" class="tag-edit" data-tag-id="{{ tag.id }}" data-tag-name="{{ tag.name }}"><span class="glyphicon glyphicon-edit"></span></a>
  &nbsp;<a href="#" class="ajax-delete" url="{{ urls.delete }}"><span class="glyphicon glyphicon-remove text-danger"></span></a>
</span>
