@(authors: List[Author], formEditAuthor: Form[(Int, String, Int, Boolean, String, String)], users: List[User], formEditUser: Form[(Int, String,String, Option[String], String, Option[String])], tags: List[Tag], user: User)(implicit flash: Flash)

@main("Administrator Einstellungen", Some(user)){
    <h2>Administrator Einstellungen</h2>

    <h3>Autoren</h3>
    <a name="authors" id="authors"></a>
    @flash.get("author_success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    @formEditAuthor.globalErrors.map { error =>
        <div class="alert alert-danger">
            @error.message
        </div>
    }

    @formEditAuthor.errors.map { error =>
        <div class="alert alert-danger">
            @error.message
        </div>
    }

    <table class="table table-hover">
    <tr>
        <th>Reihenfolge</th><th>Name</th><th>Bewertet</th><th>Farbe</th><th></th>
    </tr>
    @for(a <- authors) {
    <tr>
        <td>@a.order</td>
        <td>@a.name</td>
        <td>
        <input type="checkbox" name="rated" value="Bewerted" @if(a.rated) {checked} disabled>
        </td>
        <td>
        <span class='label' style="color: @{a.color}; background-color: @{a.background}">@a.name</span> 
        </td>
        <td>
            <a data-toggle="modal" href="#editAuthor@(a.id)" href="#"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    }
    </table>

    @for(a <- authors) {
      <!-- Edit Modal -->
      <div class="modal fade" id="editAuthor@(a.id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Bearbeite Author "@a.name"</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="/admin/editAuthor#authors" method="post" id="form_editAuthor@(a.id)">
                   <input type="hidden" id="id" name="id" value="@a.id">
                   <div class="form-group">
                    <label for="order">Reihenfolge</label>
                    <input type="text" class="form-control" id="order" name="order" value="@a.order">
                  </div>
                   <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="@a.name">
                  </div>
                  <div class="form-group">
                    <label for="rated">Bewerted</label>       
                    <input type="checkbox" name="rated" id="rated" value="Bewerted" @if(a.rated) {checked}>
                  </div>
                  <div class="form-group">
                    <label for="color">Textfarbe</label>
                    <input type="text" class="form-control" id="color" name="color" value="@a.color">
                  </div>
                  <div class="form-group">
                    <label for="background">Hintergrund</label>
                    <input type="text" class="form-control" id="background" name="background" value="@a.background">
                  </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
              <button type="submit" form="form_editAuthor@(a.id)" class="btn btn-primary">Speichern</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    }

    <h3>Nutzer</h3>
    <a name="users" id="users"></a>
    @flash.get("user_success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }

    @formEditUser.globalError.map { error =>
        <div class="alert alert-danger">
            @error.message
        </div>
    }

    <table class="table table-hover">
    <tr>
        <th>Name</th><th>E-Mail</th><th>Rolle</th><th></th>
    </tr>
    @for(u <- users) {
    <tr>
        <td>@u.name</td><td>@u.email</td>
        <td>
        @{u.role match {
            case Role.Admin => <span class="label label-success">Admin</span>
            case Role.Editor => <span class="label label-warning">Editor</span>
            case _ => <span class="label label-default">Unprivilegiert</span>
        }
        }
        </td>
        <td>
            <a data-toggle="modal" href="#edit@(u.id)" href="#"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="#"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
    </tr>
    }
    </table>

    @for(u <- users) {
      <!-- Edit Modal -->
      <div class="modal fade" id="edit@(u.id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Bearbeite Nutzer "@u.name"</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="/admin/editUser#users" method="post" id="form_edit@(u.id)">
                   <input type="hidden" id="id" name="id" value="@u.id">
                   <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="@u.name">
                  </div>
                  <div class="form-group">
                    <label for="email">E-Mail Addresse</label>
                    <input type="email" class="form-control" id="email" name="email" value="@u.email">
                  </div>
                  <div class="form-group">
                    <label for="role">Rolle</label>
                    <select id="role" name="role" class="form-control" 
                        "@if(u.id==user.id) { disabled }"
                    >
                        @for(role <- 0 until models.Role.maxId) {
                          <option value="@role" @if(u.role.id==role) { selected }>
                            @{models.Role(role) match {
                                case Role.Admin => "Admin"
                                case Role.Editor => "Editor"
                                case Role.Unprivileged => "Unprivilegiert"
                            } }
                          </option> 
                        }
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="email">Passwort</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Neues Passwort">
                  </div>
                  <input type="hidden" id="admin_name" name="admin_email" value="@user.email">
                  <p><em>Wenn Sie das Passwort ändern möchten, geben Sie das Administrator Passwort noch einmal ein:</em></p>
                  <div class="form-group">
                    <input type="password" class="form-control" id="admin_password" name="admin_password" placeholder="Administrator Passwort">
                  </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
              <button type="submit" form="form_edit@(u.id)" class="btn btn-primary">Speichern</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    }

    <h3>Tags</h3>
    <p>Wählen Sie die Tags aus, die <em>wichtige</em> Wahlversprechen markieren.</p>
      @for(tagrow <- tags.sliding(4, 4)) {
        <div class="row">
        @for(t <- tagrow) {
          <div class="col-sm-3">
            <input type="checkbox" class="setImportantTag" id="@t.id" @if(t.important) { checked } />&nbsp;<a href="/tag/@(t.name)"><span class='label label-primary'>@t.name</span></a>
            &nbsp;<a href="#"><span class="glyphicon glyphicon-edit"></span></a>
            &nbsp;<a href="#"><span class="glyphicon glyphicon-remove"></span></a>
          </div>
        }
        </div>
      }
}

      <script type="text/javascript">
        $(document).ready(function ($) { // wait until the document is ready
          $('input.setImportantTag').change(function(){
            var $input = $( this );
            var $checked = $input.is( ":checked" );
            var $id = $input.attr("id");

            $.ajax({
                type: 'POST',
                url: '/admin/setImportantTag',
                data: { id: $id, important: $checked },
                datatype: 'text',
                cache: 'false',
                error: function(){
                    $input.prop( "checked", !$checked );
                }
            }); // End Ajax  
        }); // End onclick
      });
    </script>