@(authors: List[Author], users: List[User], user: User)

@common.main("Administrator Einstellungen", Some(user)){
    <h2>Administrator Einstellungen</h2>

    <h3>Autoren</h3>
    <a name="authors" id="authors"></a>
    <table class="table table-hover">
    <tr>
        <th>Reihenfolge</th><th>Name</th><th>Bewertet</th><th>Farbe</th><th></th>
    </tr>
    @for(a <- authors) {
    <tr>
        <td>@a.order</td>
        <td>@a.name</td>
        <td>
        <input type="checkbox" name="top_level" value="Top Level" @if(a.top_level) {checked} disabled>
        </td>
        <td>
        <span class='label' style="color: @{a.color}; background-color: @{a.background}">@a.name</span>
        </td>
        <td>
            <a data-toggle="modal" href="#editAuthor@(a.id)" href="#"><span class="glyphicon glyphicon-edit"></span></a>
            <!--<a href="#"><span class="glyphicon glyphicon-remove"></span></a>-->
        </td>
    </tr>
    }
    </table>

    @for(a <- authors) {
      <!-- Edit Modal -->
      <div class="modal fade" id="editAuthor@(a.id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Bearbeite Author "@a.name"</h4>
            </div>
            <div class="modal-body">
                <form class="ajax-submit" data-alert-id="form_alertAuthor@(a.id)" data-url="@routes.Admin.editAuthor(a.id).url" data-method="PUT" data-action="reload" id="form_editAuthor@(a.id)" role="form">
                   <div class="form-group">
                    <label for="order">Reihenfolge</label>
                    <input type="text" class="form-control" id="order" name="order" value="@a.order">
                  </div>
                   <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="@a.name">
                  </div>
                  <div class="form-group">
                    <label for="top_level">Top Level</label>
                    <input type="checkbox" name="top_level" id="top_level" value="true" @if(a.top_level) {checked}>
                  </div>
                  <div class="form-group">
                    <label for="color">Textfarbe</label>
                    <input type="text" class="form-control" id="color" name="color" value="@a.color">
                  </div>
                  <div class="form-group">
                    <label for="background">Hintergrund</label>
                    <input type="text" class="form-control" id="background" name="background" value="@a.background">
                  </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
              <button type="submit" form="form_editAuthor@(a.id)" class="btn btn-primary">Speichern</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    }

    <h3>Nutzer</h3>
    <a name="users" id="users"></a>
    <table class="table table-hover">
    <tr>
        <th>Name</th><th>E-Mail</th><th>Rolle</th><th></th>
    </tr>
    @for(u <- users) {
    <tr>
        <td>@u.name</td><td>@u.email</td>
        <td>
        @{u.role match {
            case Role.Admin => <span class="label label-success">Admin</span>
            case Role.Editor => <span class="label label-warning">Editor</span>
            case _ => <span class="label label-default">Unprivilegiert</span>
        }
        }
        </td>
        <td>
            <a data-toggle="modal" href="#edit@(u.id)" href="#"><span class="glyphicon glyphicon-edit"></span></a>
            <!--<a href="#"><span class="glyphicon glyphicon-remove"></span></a>-->
        </td>
    </tr>
    }
    </table>

    @for(u <- users) {
      <!-- Edit Modal -->
      <div class="modal fade" id="edit@(u.id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Bearbeite Nutzer "@u.name"</h4>
            </div>
            <div class="modal-body">
                <form class="ajax-submit" data-url="@routes.Admin.editUser(u.id).url" data-method="PUT" data-alert-id="alert_edit@(u.id)" data-action="reload" role="form" id="form_edit@(u.id)">
                   <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="@u.name">
                  </div>
                  <div class="form-group">
                    <label for="email">E-Mail Addresse</label>
                    <input type="email" class="form-control" id="email" name="email" value="@u.email">
                  </div>
                  <div class="form-group">
                    <label for="role">Rolle</label>
                    <select id="role" name="role" class="form-control"
                        "@if(u.id==user.id) { disabled }"
                    >
                        @for(role <- 0 until models.Role.maxId) {
                          <option value="@role" @if(u.role.id==role) { selected }>
                            @{models.Role(role) match {
                                case Role.Admin => "Admin"
                                case Role.Editor => "Editor"
                                case Role.Unprivileged => "Unprivilegiert"
                            } }
                          </option>
                        }
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="email">Passwort</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Neues Passwort">
                  </div>
                  <input type="hidden" id="admin_name" name="admin_email" value="@user.email">
                  <p><em>Geben Sie das Administrator Passwort noch einmal ein:</em></p>
                  <div class="form-group">
                    <input type="password" class="form-control" id="admin_password" name="admin_password" placeholder="Administrator Passwort">
                  </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
              <button type="submit" form="form_edit@(u.id)" class="btn btn-primary">Speichern</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
    }

    <a name="tags" id="tags"></a>
    <h3>Tags</h3>
    <p>Wählen Sie die Tags aus, die <em>wichtige</em> Wahlversprechen markieren. (Es werden max. 30 angezeigt.)</p>
    <div id="tags-controls" class="row">
      <label class="checkbox inline fluid-row-checkbox"><input type="checkbox" id="tags-important-only" class="checkbox" checked />Nur wichtige zeigen</label>
      <input id="tags-infix" type="text" class="input inline" placeholder="Wortteil"/>
    </div>

    <div id="tags-list">Loading …</div>

    <h4>Finde doppelte Tags</h4>

    <div id="tags-duplicates">
      <p>Wie unterschiedlich sollen die Tags sein? 0-3 sind gute Werte (siehe <a href="https://de.wikipedia.org/wiki/Levenshtein-Distanz">Levenshtein-Distanz</a>).</p>
      <form class="form-group" role="form">
	<div class="input-group">
	  <input id="tags-duplicates-max-editdistance" class="form-control" type="text" value="2" placeholder="Edit-distance"/>
	  <span class="input-group-btn">
	    <button id="tags-duplicates-button" type="button" class="btn btn-default">Find!</button>
	  </span>
	</div>
      </form>

      <div id="tags-duplicates-message" class="alert" role="alert"></div>
      <div id="tags-duplicates-list"></div>
    </div>
}
