@(stmt: Statement, stmtRelatedByAllAuthors: List[Statement], user: Option[User])(implicit request: play.api.mvc.RequestHeader)

@main(stmt.title, user){
@defining(user.isDefined && (user.get.role==Role.Editor || user.get.role==Role.Admin)) { editing => 

<div class="container">
	<div class="page-header">                
        <h1><small><a href="/category/@stmt.category.name">@stmt.category.name</a>&nbsp;|&nbsp;@stmt.author.name</small><br/>
        @editing match {
        	case true => {
        		<span style="white-space: pre-wrap;" class="ajax-update" url="/item/@stmt.id" name="title">@stmt.title</span>
        	}
        	case false => { 
        		@stmt.title 
        	}
        }
        </h1>
        <div>
          <span class="rating-row pull-left">          	
      		@editing match {
      			case true => {
	      			<form class="form-inline" style="display: inline-block">
		        	<div class="form-group">
					    <label for="rating" class="sr-only">Bewerte dieses Wahlversprechen:</label>
					    <select id="rating" class="form-control ajax-update" url="/item/@stmt.id" name="rating" >
					    	@if(!stmt.author.rated) {
					    		<option value="-1" @if(!stmt.rating.isDefined) { "selected" }>Keine Bewertung</option> 
					    	}
					    	@for(rating <- 0 until models.Rating.maxId) {
							  <option value="@rating" 
							  	@if(stmt.rating.isDefined && stmt.rating.get.id==rating) { selected }
							  >@Formatter.name(models.Rating(rating))</option> 
							}
						</select>
					</div>
					</form>
	      		}
	      		case false => {
	      			<h2 style="color: @if(stmt.rating.isDefined) { @Formatter.color(stmt.rating.get) }; margin: 0px">
		          	@if(stmt.rating.isDefined) {
			            <span class="glyphicon @Formatter.glyph(stmt.rating.get)"></span>&nbsp;@Formatter.name(stmt.rating.get)	            
			        }
			        &nbsp;	
			        </h2>
			    }
      		}	
          </span>
          <span class="rating-row pull-right">
          	@for(s <- stmtRelatedByAllAuthors) {
	            <a href="@routes.DetailViewController.view(s.id).url"><span class='label' style="color: @{s.author.color}; background-color: @{s.author.background}">@s.author.name</span></a>
	        }
          </span>
          <div style="clear: both;"></div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-sm-12">
      @editing match {
      	case true => {
	      	<blockquote class="lead entry-quote"><p style="white-space: pre-wrap;" class="ajax-update" url="/item/@stmt.id" name="quote">@stmt.quote.getOrElse("Gib ein Zitat ein")</p><br/>
			<small><p style="white-space: pre-wrap;" class="ajax-update" url="/item/@stmt.id" name="quote_src">@stmt.quote_src.getOrElse("Gib eine Quelle für das Zitat ein")</p></small>
			</blockquote>
		}
      	case false => {
      		@if(stmt.quote.isDefined) {
				<blockquote class="lead entry-quote">@Formatter.transformToHTML(stmt.quote.get)<br/>
				@if(stmt.quote_src.isDefined) {
					<small>@Formatter.transformToHTML(stmt.quote_src.get)</small>
				}
				</blockquote>
		  	}
		}
	  }
      </div>
      <div class="col-md-3">
        <ul class="nav nav-list hidden-print">
        <li><div class="nav-header">Stichwörter</div>
        	@for(t <- stmt.tags) {
        		<a href="/tag/@(t.name)"><span class='label label-primary'>@t.name</span></a>@if(editing) {<small><a href="#" class="ajax-delete" url="@routes.DetailViewController.deleteTag(stmt.id, t.id).url"><span class="glyphicon glyphicon-remove text-danger"></span></a></small>&nbsp;}
        	}
        	@if(editing) {
        		<br><br>
        		<form class="ajax-submit form-inline" data-url="@routes.DetailViewController.addTag(stmt.id).url" data-method="POST" data-action="reload" data-alert-id="formNewTag" role="form">
        		<div class="form-group">
        		<input type="text" name="name" class="form-control input-sm" size="25" placeholder="Neues Tag hinzufügen">
        		</div>
				<button type="submit" class="btn-primary btn btn-sm">OK</button>
				</form>
        	}
        </li>
        <li><div class="nav-header">Sharing</div>
        	@defining( Formatter.encode( routes.DetailViewController.view(stmt.id).absoluteURL(false) ) ) { url => 
        	@defining( Formatter.encode("Wahlversprechen: \"" + stmt.title+"\"") ) { title => 
           		<a class="facebook" target="_blank" onclick="return !window.open(this.href, 'Facebook', 'width=640,height=300')" href="http://www.facebook.com/sharer/sharer.php?u=@(url)"><img src="@routes.Assets.at("img/social/Facebook32px.gif")"></a>&nbsp;<a class="twitter" target="_blank" onclick="return !window.open(this.href, 'Twitter', 'width=640,height=300')" href="http://twitter.com/intent/tweet?text=@(title)+@(url)"><img src="@routes.Assets.at("img/social/Twitter32px.gif")"></a>&nbsp<a class="google" target="_blank" onclick="return !window.open(this.href, 'Google+', 'width=640,height=300')" href="https://plus.google.com/share?url=@(url)"><img src="@routes.Assets.at("img/social/Google32px.gif")"></a>&nbsp;<a class="tumblr" target="_blank" onclick="return !window.open(this.href, 'Tumblr', 'width=640,height=300')" href="http://www.tumblr.com/share/link?url=@(url)&name=@(title)"><img src="@routes.Assets.at("img/social/Tumblr32px.gif")"></a><br/>
           } }
           <br/>
          <input type="text" class="form-control input-sm" readonly="readonly" value="@{routes.DetailViewController.view(stmt.id).absoluteURL(false)}">
        </li>
        <li><div class="nav-header">Abonnieren</div>
          <a href="@{routes.DetailViewController.viewAsFeed(stmt.id).url}"><img src="@routes.Assets.at("img/social/RSS32px.gif")"></a>&nbsp;
        </li>
        </ul>
      </div>
    </div>

    <hr>
		
	@if(editing) {
		<div class="row"> 
	      <div class="col-md-9">
			<form class="ajax-submit" data-url="@routes.DetailViewController.addEntry(stmt.id).url" data-method="POST" data-action="reload" data-alert-id="formNewEntry" role="form">
				<div class="form-group">
			   	<textarea class="expand form-control" name="content" style="width: 100%;" placeholder="Schreibe einen neuen Beitrag ..."></textarea>
			    <span class="help-inline showonclick">(Formatierungen im <a href="http://daringfireball.net/projects/markdown/syntax#block">Markdown-Format</a> werden unterstützt.)<br/><br/></span>
			    </div>
			    <button type="submit" class="btn-primary btn showonclick">Abschicken</button>
			    <button type="button" class="btn-default btn cancel showonclick">Abbrechen</button>
			</form>
		  </div>
		</div>
	}
	
	@for(entry <- stmt.entries) {
		<a name="@entry.id" id="@entry.id"></a>
		<div class="row">      
	      <div class="entry-content col-md-9">
	      <div class="entry-intro">
	      @if(editing) {
	      	<a href="#" class="ajax-delete" url="/entry/@entry.id"><span class="glyphicon glyphicon-remove text-danger"></span></a>
	      }
	      </div>
	      <small>Von @entry.user.name am @Formatter.format(entry.date)</small>
	      @editing match {
	      	case true => {
	      		<p style="white-space: pre-wrap;" class="ajax-update" name="content" url="/entry/@entry.id">@entry.content</p>
	      	}
	      	case false => {
	      		@Formatter.transformToHTML(entry.content)
	      	}
	      }
	      </div>
	      <div class="entry-intro col-md-3"></div>
	    </div>
	}
	<hr>
	@stmt.entries.isEmpty match {
		case true => {
		 		<p class="lead">Arbeitet die Regierung bereits an diesem Vorhaben? Gibt es irgendwelche Neuigkeiten oder ist es sogar schon umgesetzt? Dann schreib uns in den Kommentaren!</p>
		 }
		 case false => {
	  			<p class="lead">Du bist anderer Meinung oder gibt es neue Entwicklungen, die dieser Bewertung widersprechen? Diskutier mit!</p>
		 }
	}
	
	<!--
	<div id="pd_rating_holder_7012588"></div>
	<script type="text/javascript">
	PDRTJS_settings_7012588 = {
	"id" : "7012588",
	"unique_id" : "@stmt.id",
	"title" : "@stmt.title",
	"permalink" : "@{routes.DetailViewController.view(stmt.id).url}"
	};
	</script>
	<script type="text/javascript" src="http://i0.poll.fm/js/rating/rating.js"></script>
	-->
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	  	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = '@Formatter.disqus_shortname'; // required: replace example with your forum shortname
			var disqus_identifier = @stmt.id;
			var disqus_title = "#" + @stmt.id + ": " + "@stmt.title";
	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

	@if(editing && user.get.role==Role.Admin) {
		<p>
		<span class="pull-right">
			<button type="button" class="btn-danger btn btn-lg" data-toggle="modal" data-target="#modalDeleteItem">Wahlversprechen Löschen</button>
		</span>
        <div style="clear: both;"></div>
		</p>

		<div class="modal fade" id="modalDeleteItem" tabindex="-1" role="dialog" aria-labelledby="modalDeleteItem" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-body">
		        Das Löschen dieses Wahlversprechens kann nicht rückgängig gemacht werden. Möchtest Du das Wahlversprechen wirklich löschen?
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
		        <button type="submit" class="btn-danger btn ajax-delete" url="@routes.DetailViewController.delete(stmt.id).url" target-url="@routes.Application.all.url" confirm-text="Diese Aktion kann nicht rückgängig gemacht werden!">Löschen</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
			
	}
</div>
}}
