@(stmt: Statement, authors: List[Author], form: Form[(String, Int)], user: Option[User])

@import helper.twitterBootstrap._
@main(stmt.title, user){
<div class="container">
	<div class="page-header">                
        <h1><small>@stmt.category.name</small><br/>
        @stmt.title</h1>
        <div>
          <span class="rating-row pull-left">
          	@if(stmt.rating.isDefined) {
	            <h2 style="color: @Formatter.color(stmt.rating.get); margin: 0px">
	            	<span class="glyphicon @Formatter.glyph(stmt.rating.get)"></span>&nbsp;@Formatter.name(stmt.rating.get)
	            </h2>
	        }
          </span>
          <span class="rating-row pull-right">
          	@for(a <- authors) {
	            <span class='label' style="color: @{a.color}; background-color: @{a.background}">@a.name</span> 
	        }
          </span>
          <div style="clear: both;"></div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-sm-12">  
      @if(stmt.quote.isDefined) {
			<blockquote class="lead">@Formatter.transformToHTML(stmt.quote.get)<br/>
			@if(stmt.quote_src.isDefined) {
				<small>@Formatter.transformToHTML(stmt.quote_src.get)</small>
			}
			</blockquote>
	  }
      </div>
      <div class="col-md-3">
        <ul class="nav nav-list hidden-print">
        <li><div class="nav-header">Stichwörter</div>
        	@for(t <- stmt.tags) {
        		<span class='label label-primary'>t.name</span>
        	}
        </li>
        <li><div class="nav-header">Sharing</div>
          <img src="@routes.Assets.at("img/social/Facebook32px.gif")">&nbsp;<img src="@routes.Assets.at("img/social/Twitter32px.gif")">&nbsp;<img src="@routes.Assets.at("img/social/Google32px.gif")">&nbsp;<img src="@routes.Assets.at("img/social/Tumblr32px.gif")"><br/>
          <input type="text" class="form-control" style="font-size: 12px" readonly="readonly" value="@(Formatter.url)/view/@stmt.id">
        </li>
        <li><div class="nav-header">Abonnieren</div>
          <img src="@routes.Assets.at("img/social/RSS32px.gif")">&nbsp;
        </li>
        </ul>
      </div>
    </div>

    <hr>
		
	@if(user.isDefined && (user.get.role==Role.Editor || user.get.role==Role.Admin)) {
		<div class="row"> 
	      <div class="col-md-9">
			 @form.errors.map { error =>
	            <div class="alert alert-error">
	                @error.message
	            </div>
	        }        
			<form action="/addEntry" method="POST">
			   	<textarea class="expand" name="content" style="width: 100%;" placeholder="Schreibe einen neuen Beitrag ...">@form("content").value.getOrElse("")</textarea>
			    <span class="help-inline showonclick">(Formatierungen im <a href="http://daringfireball.net/projects/markdown/syntax#block">Markdown-Format</a> werden unterstützt.)<br/><br/></span>
				<input type="hidden" name="stmt_id" value='@stmt.id' >
			    <button type="submit" class="btn-primary btn showonclick">Abschicken</button>
			    <button type="button" class="btn cancel showonclick">Abbrechen</button>
			</form>
		  </div>
		</div>
	}
	
	@for(entry <- stmt.entries) {
		<div class="row">      
	      <div class="entry-content col-md-9">
	      <div class="entry-intro">
	      @if(user.isDefined && (user.get.role==Role.Editor || user.get.role==Role.Admin)) {
	      	<span class="glyphicon glyphicon-edit"></span>
	      	<span class="glyphicon glyphicon-remove"></span>
	      }
	      </div>
	      <small>Von @entry.user.name am @Formatter.format(entry.date)</small>
	      @Formatter.markdownToHTML(entry.content)
	      <div class="entry-intro col-md-3"></div>
	    </div>
	}
	
	<p class="lead">Du bist anderer Meinung oder gibt es neue Entwicklungen, die dieser Bewertung widersprechen? Diskutier mit!</p>
	<!--
	<div id="pd_rating_holder_7012588"></div>
	<script type="text/javascript">
	PDRTJS_settings_7012588 = {
	"id" : "7012588",
	"unique_id" : "@stmt.id",
	"title" : "@stmt.title",
	"permalink" : "/view/@stmt.id"
	};
	</script>
	<script type="text/javascript" src="http://i0.poll.fm/js/rating/rating.js"></script>
	-->
	<div id="disqus_thread"></div>
	<script type="text/javascript">
	  	/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
	        var disqus_shortname = '@Formatter.disqus_shortname'; // required: replace example with your forum shortname
			var disqus_identifier = @stmt.id;
			var disqus_title = "#" + @stmt.id + ": " + "@stmt.title";
	        /* * * DON'T EDIT BELOW THIS LINE * * */
	        (function() {
	            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
	            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
	            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
	        })();
	    </script>
	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
</div>
}
