@(stmt: Statement, stmtRelatedByAllAuthors: List[Statement], user: Option[User])(implicit request: play.api.mvc.RequestHeader)

@common.main(stmt.title, user, Some(routes.DetailViewController.view(stmt.id).url), Formatter.socialMetaTags(
    routes.DetailViewController.view(stmt.id).absoluteURL(false),
    Formatter.transformToText(stmt.quote.getOrElse("")),
    Formatter.icon(stmt.rating.getOrElse(Rating.Unrated))
)){
@defining(user.isDefined && (user.get.role==Role.Editor || user.get.role==Role.Admin)) { editing =>
  @defining(user.isDefined && user.get.role==Role.Admin) { editingAdmin =>

<h1 class="entry-title"><small><a href="/category/@stmt.category.name">@stmt.category.name</a>&nbsp;| @stmt.author.name</small><br/>
@editingAdmin match {
	case true => {
		<span style="white-space: pre-wrap;" class="ajax-update" url="/item/@stmt.id" name="title">@stmt.title</span>
	}
	case false => {
		@stmt.title
	}
}
</h1>
<div class="entry-rating">
  <span class="pull-left">
	@editing match {
		case true => {
  			<form class="form-inline" style="display: inline-block">
      	<div class="form-group">
		    <label for="rating" class="sr-only">Bewerte dieses Wahlversprechen:</label>
		    <select id="rating" class="form-control ajax-update" url="/item/@stmt.id" name="rating" >
		    	@if(!stmt.author.top_level) {
		    		<option value="-1" @if(!stmt.rating.isDefined) { "selected" }>Keine Bewertung</option>
		    	}
		    	@for(rating <- 0 until models.Rating.maxId) {
				  <option value="@rating"
				  	@if(stmt.rating.isDefined && stmt.rating.get.id==rating) { selected }
				  >@Formatter.name(models.Rating(rating))</option>
				}
			</select>
		</div>
		</form>
  		}
  		case false => {
  			<span style="color: @if(stmt.rating.isDefined) { @Formatter.color(stmt.rating.get) };">
        	@if(stmt.rating.isDefined) {
            <span class="glyphicon @Formatter.glyph(stmt.rating.get)"></span>&nbsp;@Formatter.name(stmt.rating.get)
        }
        </span>
    }
	}
  </span>
  <span class="pull-right">
    <span class="label-lg">
  	@for(s <- stmtRelatedByAllAuthors) {
        <span class='label' style="color: @{s.author.color}; background-color: @{s.author.background};"><a href="@routes.DetailViewController.view(s.id).url">@s.author.name</a></span>
    }
    </span>
  </span>
  <div style="clear: both;"></div>
</div>

<div class="row">
<div class="col-md-9 col-sm-12">

<div class="row">
  <!-- item quote -->
  @editingAdmin match {
  	case true => {
      <blockquote class="lead entry-quote"><p data-id="quoteid-new" style="white-space: pre-wrap;" class="ajax-update live-markdown" url="/item/@stmt.id" name="quote">@stmt.quote.getOrElse("Gib ein Zitat ein")</p>
    <p class="alert alert-warning preview" style="display:none">Vorschau! Der Eintrag wird erst beim Speichern wirklich geändert.</p>
    <div class="entry-content preview" data-id="quoteid-new"></div>
    <br/>
		    <small><p style="white-space: pre-wrap;" class="ajax-update" url="/item/@stmt.id" name="quote_src">@stmt.quote_src.getOrElse("Gib eine Quelle für das Zitat ein")</p></small>
		  </blockquote>
    }
  	case false => {
  		@if(stmt.quote.isDefined) {
  			<blockquote class="lead entry-quote">@Formatter.transformToHTML(stmt.quote.get)
  			@if(stmt.quote_src.isDefined) {
  				<small>@Formatter.transformToHTML(stmt.quote_src.get)</small>
  			}
  			</blockquote>
	  	}
    }
  }

  <hr>
  <div class="visible-xs visible-sm">
    @common.detailSidebar(stmt, editing)

    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">
          <a data-toggle="collapse" data-target="#collapsible">
          Aktuell in den Medien
          </a>
        </h1>
      </div>
      <div id="collapsible" class="collapse panel-collapse ">
        <div class ="panel-body">
          <ul data-fill-relatedurls data-stmt="@stmt.id" data-count="5" data-load="#moreRelatedUrlsBottom">
          </ul>
          <button type="button" class="btn btn-link" id="moreRelatedUrlsBottom"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Mehr anzeigen</button>
        </div>
     </div>
    </div>
  </div>
  <!-- blog entries -->
  @editing match {
    case true => {
      <form class="ajax-submit" data-url="@routes.DetailViewController.addEntry(stmt.id).url" data-method="POST" data-action="reload" data-alert-id="formNewEntry" role="form">
        <div class="form-group">
          <textarea class="live-markdown expand form-control" name="content" style="width: 100%;" placeholder="Schreibe einen neuen Beitrag ..." data-id="entryid-new"></textarea>
          <span class="help-block showonclick">(Formatierungen im <a href="http://daringfireball.net/projects/markdown/syntax#block" target="_blank">Markdown-Format</a> werden unterstützt.)<br/><br/></span>
        </div>
        <p class="alert alert-warning showonclick" style="display:none;">Vorschau! Der Eintrag wird erst beim Speichern wirklich geändert.</p>
        <div class="entry-content showonclick" data-id="entryid-new"></div>
        <button type="submit" class="btn-primary btn showonclick">Abschicken</button>
        <button type="button" class="btn-default btn cancel showonclick">Abbrechen</button>
      </form>
    }
    case false => {
      <span class="pull-right feedicon">
        <small><a href="@routes.DetailViewController.viewAsFeed(stmt.id).url"><i class="fa fa-rss"></i></a></small>
      </span>
    }
  }

  @for(entry <- stmt.entries) {
    <div>
      <a name="@entry.id" id="@entry.id"></a> <!-- TODO: Check if needed, if not remove -->
      <div class="entry-buttons">
        @if(editingAdmin) {
          <a href="#" class="ajax-delete collapse text-danger" url="/entry/@entry.id"><span class="glyphicon glyphicon-remove"></span>&nbsp;Löschen</a>
        }
        @if(editing && (editingAdmin || entry.user==user.get)) {
          <a href="#" class="ajax-edit text-warning small" data-id="@entry.id"><span class="glyphicon glyphicon-edit"></span>&nbsp;Ändern</a>
        }
      </div>
      <div class="entry-meta">
        <small>Von @entry.user.name am @Formatter.format(entry.date)</small>
      </div>
      <div class="entry-content" data-id="@entry.id">
        @Formatter.transformToHTML(entry.content)
      </div>
    </div>
  }
</div>

<div class="row">
  @stmt.entries.isEmpty match {
  	case true => {
  	 		<p class="lead">Arbeitet die Regierung bereits an diesem Vorhaben? Gibt es irgendwelche Neuigkeiten oder ist es sogar schon umgesetzt? Dann schreib uns in den Kommentaren!</p>
  	 }
  	 case false => {
          <hr>
    			<p class="lead">Du bist anderer Meinung oder gibt es neue Entwicklungen, die dieser Bewertung widersprechen? Diskutier mit!</p>
  	 }
  }

  <a name="comments" id="comments"></a>
  @common.comments(stmt)
</div>

</div>

<div class="col-md-3 sidebar pull-right hidden-xs hidden-sm">
  @common.detailSidebar(stmt, editing)

  <h1>Aktuell in den Medien:</h1>
    <ul data-fill-relatedurls data-stmt="@stmt.id" data-count="5" data-load="#moreRelatedUrlsSidebar">
    </ul>
    <button type="button" class="btn btn-link" id="moreRelatedUrlsSidebar"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp;Mehr anzeigen</button>
</div>
</div>

@if(editingAdmin) {
	<p>
	<span class="pull-right">
		<button type="button" class="btn-danger btn btn-lg" data-toggle="modal" data-target="#modalDeleteItem">Wahlversprechen Löschen</button>
	</span>
    <div style="clear: both;"></div>
	</p>

	<div class="modal fade" id="modalDeleteItem" tabindex="-1" role="dialog" aria-labelledby="modalDeleteItem" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-body">
	        Das Löschen dieses Wahlversprechens kann nicht rückgängig gemacht werden. Möchtest Du das Wahlversprechen wirklich löschen?
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
	        <button type="submit" class="btn-danger btn ajax-delete" url="@routes.DetailViewController.delete(stmt.id).url" target-url="@routes.Application.all.url" confirm-text="Diese Aktion kann nicht rückgängig gemacht werden!">Löschen</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
}

}}}
