@(form: Form[(String,String)], user: User)(implicit flash: Flash)

@common.main("Importiere Daten", Some(user)){
        
    <h1>Importiere aus Google Spreadsheet</h1>

    <form class="ajax-submit" data-url="@routes.Admin.doImport.url" data-method="POST" data-action="message" data-alert-id="import"  role="form">
        <p class="lead"> 
        <select name="author">
        @for(author <- Author.loadAll) {
           <option>@author.name</option> 
        }
        </select>            
        </p>
        <p class="lead">
            <input name="spreadsheet" id="spreadsheet" placeholder="Google Spreadsheet Key" size="45">
        </p>
        <p class="lead">
            <button type="submit" class="btn btn-primary">Importieren</button>
        </p>            
    </form>
}