@(cStatement: Int, mapRating: Map[models.Rating.Rating, Int], stmtsRecent: List[Statement], stmtsImportant: List[Statement], user: Option[User])(implicit flash: Flash)
@import models.Rating._
 
@main("Wahlversprechen", user){
@flash.get("error").map { message =>
    <div class="alert alert-error">
        @message
    </div>
}

<div class="row">
	<div class="col-sm-12 col-md-8">
	<h1>wahlversprechen.de</h1>
	<p class="lead">Versprochen gebrochen oder verlässliche Regierungsarbeit? wahlversprechen.de dokumentiert alle Wahlversprechen der Regierungsparteien. Wieviele wurden bereits umgesetzt, endeten in einem Kompromiss oder scheiterten komplett und wieviele sind noch offen: </p>

	@ratingprogressbar(cStatement, mapRating, "titleprogress", "titleprogress-glyph")	
	</div>
  	<div class="col-md-4 visible-md visible-lg">
  	<img src="@routes.Assets.at("img/reichstag2.jpg")" alt="Kuppel des Berliner Reichstags" class="img-thumbnail" style="margin: auto">
  	</div>
</div>
      

<div class="row" style="margin-top: 30px">
<div class="col-sm-8 col-sm-offset-2">  
  <p class="lead">Wie funktioniert's, was bedeuten die Farben und Symbole und wie kannst Du mitmachen? <a href="http://blog.@(Formatter.url)/about">Mehr dazu auf unserem Blog.</a></p>
  <p class="lead">Oder such einfach nach einem Thema, das Dich interessiert. Versuche doch einmal "Europa", "Kita" oder "Steuern":</p>
  <form class="input-group" action="/search" method="get">
    <input type="text" name="query" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </form>
</div>
</div>

<div class="row">
	<div class="col-sm-6">
  	@itemlist("Zuletzt aktualisierte Wahlversprechen:", "/aktuell", stmtsRecent)
	</div>
	<div class="col-sm-6">
  	@itemlist("Die wichtigsten Wahlversprechen:", "/top", stmtsImportant)
	</div>
</div>

<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
var disqus_shortname = '@Formatter.disqus_shortname'; // required: replace example with your forum shortname

/* * * DON'T EDIT BELOW THIS LINE * * */
(function () {
var s = document.createElement('script'); s.async = true;
s.type = 'text/javascript';
s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
}