@(authors: List[Author], stats: StatementStatistics, stmtsRecent: List[Statement], relatedurlgrps: List[RelatedUrlGroup], user: Option[User])(implicit request: play.api.mvc.RequestHeader)

@import models.Rating._

@common.main("Wahlversprechen", user, None, Formatter.socialMetaTags(
    routes.Application.index.absoluteURL(false),
    "Versprochen gebrochen oder verlässliche Regierungsarbeit? wahlversprechen2013.de dokumentiert alle Wahlversprechen der Regierungsparteien. Wieviele wurden bereits umgesetzt, endeten in einem Kompromiss oder scheiterten komplett und wieviele sind noch offen?",
    routes.Assets.at("img/reichstag2.jpg").absoluteURL(false)
)){

<div class="row">
	<div class="col-sm-8">
    <div class="title">
      <img src="@routes.Assets.at("img/logo320.png")" class="img">
      <h1>
      wahlversprechen
      <small>Die Regierung beim Wort genommen</small>
      </h1>
    </div>
    
    <p class="lead">Versprochen gebrochen oder verlässliche Regierungsarbeit? Diese Seite dokumentiert alle Wahlversprechen der Regierungsparteien. Wieviele wurden bereits umgesetzt, endeten in einem Kompromiss oder scheiterten komplett und wieviele sind noch offen?
    <a href="http://blog.wahlversprechen2013.de/about">Mehr dazu auf unserem Blog.</a>
    </p>  

    <div class="social-media">
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="wahl2013" data-lang="de">Twittern</a>
      <div class="fb-like" data-href="http://www.wahlversprechen2013.de" data-width="50" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
    </div>  
  </div>
  <div class="col-sm-4">
  
  <div id="carousel-example-generic" class="carousel slide titleprogress-carousel" data-interval="" data-wrap="true" data-ride="carousel" style="margin-left: auto; margin-right: auto">  <!-- Wrapper for slides -->
    <div class="carousel-inner" >
      @for((author, i) <- authors.view.zipWithIndex) {
        <div class="item @if(i==0) { active }">
          <table style="margin-left: 5px; margin-right: 5px">

          @for(ratingId <- 0 until models.Rating.maxId) {
              @defining(models.Rating(ratingId)) { rating => 
              @defining(stats.count(author, rating)) { count => 
              @defining(count.toDouble / math.max(1, stats.count(author)) * 100.0) { percentage => 
                  <tr>
                    <td style="white-space: nowrap;">                      
                      <span class="titleprogress-header" style="color: @Formatter.color(rating);"><a href="/rating/@ratingId"><span class="glyphicon @Formatter.glyph(rating)"></span>&nbsp;@Formatter.name(rating):
                      </a></span> 
                    </td>
                    <td style="width: 100%">
                    <div class="titleprogress" style="width: @percentage%; min-width: 1%;">
                      <div class="progress-bar" style="background-color: @Formatter.color(rating); width: 100%;">
                        @if(20<percentage) {                          
                          <span class="titleprogress-label"><a href="/rating/@ratingId">@count</a></span>
                        }
                      </div>
                   </div>
                    @if(percentage <= 20) {
                      <span class="titleprogress-label"><a href="/rating/@ratingId" style="color: @Formatter.color(rating);">@count</a></span>
                    }
                   </td>
                  </tr>
              }}}
          }
          </table>
        </div> <!-- item active -->
      }
    </div> <!-- carousel inner -->
  
    <div style="text-align:center">
      <div class="btn-group" data-toggle="buttons" style="display:inline-block;">
      @for((author, i) <- authors.view.zipWithIndex) {
        <label class="btn btn-default btn-xs" data-target="#carousel-example-generic" data-slide-to="@i">
        <input type="radio" name="options" id="option@i">@author.shortname
        </label>
      }  
      </div>
    </div>

  </div> <!-- carousel slide -->
</div> <!-- column -->
</div> <!-- row -->

<div class="row" style="margin-top: 30px">  
<div class="col-sm-2"></div>  
<div class="col-sm-8" style="position: relative;">  
  <img src="@routes.Assets.at("img/analysis.png")" width="100%"/>
  <p class="lead" style="position: absolute; top: 5px; left: 20px;">
    Visualisierung & Analyse
    <small style="color: red; font-size: 0.6em; font-weight: bold; vertical-align: super">Demnächst</small>
  </p>
</div>

<div class="col-sm-2" style="text-align: right;">  
  <div style="vertical-align: bottom">
  <a href="http://codefor.de/projekte/2014-04-22-be-wahlversprechen.html"><img src="@routes.Assets.at("img/CFG_logo.svg")" width="100%" style="margin-top: 10px; max-width: 150px"><br/></a>
  <a href="http://codefor.de/projekte/2014-04-22-be-wahlversprechen.html"><small style="font-size: 8px; color: grey">Ein Code For Germany Projekt</small></a>
  </div>
</div>
</div>

<div class="row">
	<div class="col-sm-6">
  	@common.renderShortStatementList(
      "Zuletzt aktualisiert:", 
      routes.Application.recent.url, 
      Some(routes.Application.updatesAsFeed.url), 
      stmtsRecent
    )
	</div>
	<div class="col-sm-6">
        <h2>Aktuell in den Medien:

        </h2>
        @for(group <- relatedurlgrps) {
            <div class="stmt-list norating">  
                <div class="content">
                  <h4><a href="@{routes.DetailViewController.view(group.stmt_id).url}">
                      @group.stmt_title
                  </a></h4>
                  <div>
                    <small class="pull-left"><a href="/category/@group.category">@group.category</a></small>
                    <small class="pull-left" style="margin-left:15px">
                      @common.commentCount(group.stmt_id)
                    </small>
                      <small class="pull-right">Gesehen am @Formatter.format(group.articles.head.lastseen)</small>
                    <div style="clear: both;"></div>
                  </div>
                  <ul class = "relatedurl"> 
                    @for(relatedurl <- group.articles) {
                       <li><img src="@Formatter.favicon(relatedurl.url)" class="favicon" width="16px" height="16px"/>&nbsp;<a href="@relatedurl.url">@relatedurl.title</a></li>
                      <!-- confidence: @relatedurl.confidence -->
                    }
                  </ul>
                </div>    
            </div>
        }
        <!--<a href="#">Alle Anzeigen ...</a>-->
	</div>
</div>
@common.commentCountScript()
}
