@(strTitle: String, strLink: String, stmts: List[Statement])

<h2><a href="@strLink">@strTitle</a></h2>
@for(stmt <- stmts) {
  <div class="item-list">    
    <div class="item-list-glyph-wrapper">
      @if(stmt.rating.isDefined) {
        <span class="glyphicon @Formatter.glyph(stmt.rating.get)" style="color: @Formatter.color(stmt.rating.get);"></span>
      }
    </div>
    <div class="item-list-content">
      <h4><a href="@{ routes.DetailViewController.view(stmt.id).url }">@(stmt.title)</a></h4>
      <div>
        <small class="pull-left"><a href="/category/@stmt.category.name">@stmt.category.name</a></small> 
        <small class="pull-left" style="margin-left:15px">
          <a class="comment-count" data-disqus-identifier="@(stmt.id)" href="@{routes.DetailViewController.view(stmt.id).url + "#disqus_thread"}">0</a>&nbsp;<a href="@{routes.DetailViewController.view(stmt.id).url}"><span class="glyphicon glyphicon-comment"></span></a>
        </small> 
        <small class="pull-right">@if(stmt.latestEntry.isDefined) { Aktualisiert am @Formatter.format(stmt.latestEntry.get) }</small> 
        <div style="clear: both;"></div>
      </div>
      <div class="item-list-body">
      @if(stmt.quote.isDefined) { 
        @Formatter.transformBodyToHTML(stmt.quote.get)
      }
      <span class="read-more"><!--<a href="/view/@(stmt.id)">Weiter...</a>-->&nbsp;</span>
      </div>
    </div>    
  </div>
}
<a href="@strLink">Alle Anzeigen ...</a>