@(form: Form[(String,String)])(implicit flash: Flash)

@common.main("Wahlversprechen Login", None){
    <h1>Login</h1>
    
    @form.globalError.map { error =>
        <div class="alert alert-danger">
            @error.message
        </div>
    }
    
    @flash.get("success").map { message =>
        <div class="alert alert-success">
            @message
        </div>
    }
    
    <form class="form-inline" role="form" action="/login" method="post">
      <div class="form-group">
        <label class="sr-only" for="email">Email Adresse</label>
        <input type="email" class="form-control" name="email" id="email" placeholder="E-Mail" value="@form("email").value">
      </div>
      <div class="form-group">
        <label class="sr-only" for="password">Passwort</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Passwort">
      </div>
      <button type="submit" class="btn btn-default">Login</button>
    </form>
}
    


