@(form: Form[(String,String)])(implicit flash: Flash)

@main("Wahlprogramm-o-meter", None){
    <div class="container">
        @helper.form(routes.Application.authenticate) {
            
            <h1>Login</h1>
            
            @form.globalError.map { error =>
                <div class="alert alert-danger">
                    @error.message
                </div>
            }
            
            @flash.get("success").map { message =>
                <div class="alert alert-success">
                    @message
                </div>
            }
            
            <p>
                <input type="email" name="email" placeholder="Email" id="email" value="@form("email").value">
            </p>
            <p>
                <input type="password" name="password" id="password" placeholder="Password">
            </p>
            <p>
                <button type="submit" id="loginbutton" class="btn btn-primary">Login</button>
            </p>
            
        }
    </div>
}
    


