@(title: String, user: Option[User])(content: Html)
<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="author" content="@Formatter.url">  
	  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
   
    <meta property="og:title" content="@title" />

   	<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet" media="screen">
    <link href="@routes.Assets.at("css/main.css")" rel="stylesheet" media="screen">
    <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("img/favicon.ico")">
</head>
<body>	
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/aktuell">Zuletzt Aktualisiert</a></li>
            <li><a href="/top">Die Wichtigsten Versprechen</a></li>
            <li><a href="/alle">Alle nach Ressort</a></li>            
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="http://blog.@(Formatter.url)/feedback">Feedback</a></li>

            @if(user.isDefined && (user.get.role==Role.Editor || user.get.role==Role.Admin)) {
                <li><a href="#">Einstellungen</a></li>
                <li><a href="/logout">Logout</a></li>
            }
          </ul>

          <form class="input-group navbar-form" action="/search" method="get" style="width: 200px">
            <input type="text" name="query" class="form-control typeahead">
            <span class="input-group-btn">
              <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
            </span>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    
    <div class="container">
	     @content

       <hr>

      <footer>
        <ul class="list-inline text-center">        
        <li><a href="http://blog.@(Formatter.url)/about">Über uns</a></li>        
        <li><a href="http://blog.@(Formatter.url)">Blog</a></li>
        <li><a href="http://twitter.com/@(Formatter.twitter)">@@@(Formatter.twitter)</a></li>
        <li><a href="http://blog.@(Formatter.url)/impressum">Impressum</a></li>
        <li><a href="http://blog.@(Formatter.url)/impressum#datenschutz">Datenschutzerklärung</a></li>
        <li><a href="http://github.com/stheophil/wahlversprechen">Github</a></li>
        <li><a href="/login">Login</a></li>
        </ul>
      </footer>
    </div>
    <!-- /container -->


    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="@routes.Assets.at("js/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/typeahead.js/typeahead.bundle.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/wahlprogrammometer.js")" type="text/javascript"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44980205-1', 'wahlversprechen2013.de');
      ga('send', 'pageview');

    </script>
</body>
</html>
