@(l: List[Statement], progressclass: String, glyphiconclass: String)
@if(l.head.author.rated) {
	@defining( l.groupBy(_.rating.get).map { case (r, liststmt) => (r, liststmt.length) } ) { mapRating => 
		@ratingprogressbar(l.length, mapRating, progressclass, glyphiconclass)
	}
} else {
	@defining( l.groupBy(_.merged_id.isDefined).map { 
		case (r, liststmt) => (if(r) models.Rating.PromiseKept else models.Rating.PromiseBroken, liststmt.length) 
	} ) { mapRating => 
		@ratingprogressbar(l.length, mapRating, progressclass, glyphiconclass)	
	}
}
