@(user: Option[User])

@if(user.isDefined && (user.get.role==Role.Editor || user.get.role==Role.Admin)) {
	<div class="userbar" style="width: 100%; background-color: #CCD0D9; height: 2em">
		<span style="float: right">
		<form action="/prefs" style="display: inline">
		    <input type="/submit" class="btn btn-mini btn-link" value="Einstellungen">
		</form>
		@if(user.get.role==Role.Admin) {
		<form action="/admin" style="display: inline">
		    <input type="submit" class="btn btn-mini btn-link" value="Admin">
		</form>
		}
		<form action="/logout" style="display: inline">
		    <input type="submit" class="btn btn-mini btn-danger" value="Logout">
		</form>
		</span>
	</div>
}