@(title: String, user: Option[User], login_redirect: Option[String] = None, meta: Html = Html.empty)(content: Html)
@import play.api.Play.current

<!DOCTYPE html>
<html>
  <head>
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <meta name="author" content="@Formatter.url">  
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
 
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@(Formatter.twitter)">
    <meta property="fb:admins" content="1580014297">
    <meta property="og:site_name" content="wahlversprechen2013">

    <meta property="og:title" content="@title">
    
    @meta
   
    <link href='//fonts.googleapis.com/css?family=Lato:300,400,700,900|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen">    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="shortcut icon" type="image/ico" href="@routes.Assets.at("img/favicon.ico")">
</head>
<body>	
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/aktuell">Zuletzt Aktualisiert</a></li>
            <li><a href="/top">Die Wichtigsten Versprechen</a></li>
            <li><a href="/alle">Alle nach Ressort</a></li>            
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <form class="input-group navbar-form" action="/search" method="get" style="width: 200px">
              <input type="text" name="query" class="form-control typeahead">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </form>
          </ul>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    
    <div class="container">
	     @content

       <hr>

      <footer>
        <div class="social-media">
          <a href="https://twitter.com/wahl2013" style="vertical-align: bottom" class="twitter-follow-button" data-show-count="false" data-lang="de">@@wahl2013 folgen</a>
          <div class="fb-follow" style="vertical-align: bottom" data-href="https://www.facebook.com/wahlversprechen"   data-height="21" data-colorscheme="light" data-layout="button_count" data-show-faces="false"></div>
          <iframe style="vertical-align: bottom" src="http://ghbtns.com/github-btn.html?user=stheophil&repo=wahlversprechen&type=watch&count=true"  height="20" width="118" frameborder="0" scrolling="0" style="width:118px; height: 20px;" allowTransparency="true"></iframe>
        </div>

        <ul class="list-inline text-center">
        <li><a href="http://blog.@(Formatter.url)/about">Über uns</a></li>        
        <li><a href="http://blog.@(Formatter.url)">Blog</a></li>
        <li><a href="http://blog.@(Formatter.url)/feedback">Feedback</a></li>
        <li><a href="http://blog.@(Formatter.url)/impressum">Impressum</a></li>
        <li><a href="http://blog.@(Formatter.url)/impressum#datenschutz">Datenschutzerklärung</a></li>
        <li><a href="http://github.com/stheophil/wahlversprechen">Github</a></li>
        @user.map(_.role) match {
          case Some(role) => {
            <li><a href="/admin/prefs">Einstellungen</a></li>
            <li><a href="/logout">Logout</a></li>
          }
          case None => {
            <li><a href="/login@{login_redirect.map( "?redirect=" + Formatter.MIMEEncode(_) ).getOrElse("")}">Login</a></li>          
          }
        } 
        </ul>
      </footer>
    </div>
    <!-- /container -->

    <!-- JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script data-main=@play.api.Play.isProd match {
        case true => {
            "@routes.Assets.at("javascripts/app.min").url"
        }
        case false => {
            "@routes.Assets.at("javascripts/app").url"
        }
    } src="@routes.Assets.at("javascripts/require.js").url"></script>
    
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44980205-1', 'wahlversprechen2013.de');
      ga('send', 'pageview');

    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>
